<div>
  <input #attachments type="file" id="file" (change)="handleFileInput($event)" multiple>
  <div id="resultList">
    <span id="resultContainer" *ngFor="let item of fileToUpload; let index = index">
      <span>
          <img class="thumbnail" [src]="imageList[index] || 'http://placehold.it/180'" alt="your image" />
      </span>
      <span
        style="width: 200px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block;">{{item.name}}
      </span>
      <span style="color: red; cursor: pointer;" (click)="removeSelectedFile(index)">x</span> <br></span>
  </div>

</div>
